
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: unset;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FEFEFE;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container::before{
    content: '';
    position: absolute;
    width: 150vh;
    left: -15%;
    height: 150vh;
    bottom: -120%;
    border-radius: 150% 200%;
    background: #d7dee5;
    animation: slide 4s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 1;
}

@keyframes slide{
    from{
        left: 50%;
        opacity: 0;
    }
    to{
        left: -15%;
        opacity: 1;
    }
}

.container::after{
    content: '';
    position: absolute;
    right: -25%;
    top: -90%;
    width: 100vh;
    height: 150vh;
    transform: rotate(0deg);
    border-radius: 100% 50%;
    background: linear-gradient(to right , #0898E1, #22C9ED);
    animation: rotate 50s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

@keyframes rotate{
    0%{
        opacity: 0;
    }
    50%{
        transform: rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

.block
{
    z-index: 999;
    margin: auto;
    width: 33%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 70px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
}

.block--close
{
    position: absolute;
    top: 40px;
    right: 40px;
}

.close--icon{
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: .1s;
}

.close--icon:hover{
    color: #afd2f5;
    transform: scale(1.2);
}

.close--icon:active{
    color: #999;
    transform: scale(1.5);
}

.block--header
{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.header__logo{
    font-size: 40px;
    font-weight: 700;
    color: #0898E1;
}

.header__discription{
    color: white;
    font-weight: 500;
}
-body,
.block--body
{
    margin-bottom: 40px;
}
-body .input,
.block--body .input
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input input{
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px white solid;
    color: white;
    font-size: 16px;
    margin: 20px 0;
}

input:focus{
    color: white;
    transition: ease-in-out .1s;
}

input::placeholder{
    color: white;
}

.block--footer
{
    height: 40px;
}

.footer__btn button{
    height: 40px;
    width: 100%;
    outline: none;
    background-image: linear-gradient(to right , #0898E1, #22C9ED);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.footer__btn button a{
    flex: 1;
    display: block;
    height: 40px;
    line-height: 40px;
}

.footer__btn button:hover{
    background-image: linear-gradient(to right , #08a3f1, #27d7ff);
    transition: .1s;
}

.footer__btn button:active{
    background: rgb(93, 93, 93);
}

.switch__link{
    margin-top: 30px;
}

.switch__link p{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-right: 5px;
}

.switch__link a{
    color: #0898E1;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {

    .block{
        width: 66%;
        padding: 20px 50px;
    }
}